fastapi==0.115.0
uvicorn==0.30.0

crewai==0.186.0

langchain==0.3.27
langchain-community==0.3.27
langchain-openai==0.3.29

openai==1.99.9

tiktoken==0.11.0

python-dotenv==1.1.1

tavily-python==0.7.12

requests==2.32.5

python-multipart==0.0.20

sqlalchemy==2.0.43